name: SifDocker Image Build and Publish

on:
  workflow_dispatch:
env:
  IMAGE_NAME: sifdocker

jobs:
  build_sifdocker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Build image
      run: cd test/integration; docker build -t ghcr.io/${{ github.actor }}/$IMAGE_NAME:latest -f Dockerfile.devenv .

    - name: Log into registry
      run: echo "${{ secrets.GITREPO }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: docker push ghcr.io/${{ github.actor }}/$IMAGE_NAME:latest
