name: SifDocker Image Build and Publish

on:
  workflow_dispatch:
env:
  IMAGE_NAME: sifdocker

jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Send greeting
      run: echo "Hello ${{ github.event.inputs.name }}"
    - uses: actions/checkout@v2

    - name: Build image
      run: cd test/integration; docker build -t ghcr.io/${{ github.actor }}/$IMAGE_NAME:latest -f Dockerfile.devenv .

    - name: Log into registry
      run: echo "${{ secrets.GITREPO }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: docker push ghcr.io/${{ github.actor }}/$IMAGE_NAME:latest
